<form [formGroup]="formPesquisa">
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <button type="button" pButton pRipple label="Pesquisar" (click)="pesquisar()"></button>
            <input type="text" pInputText placeholder="Nome ou CPF" formControlName="campoPesquisa">         
        </div>
    </div>
</form>
<form [formGroup]="formFuncionario" (ngSubmit)="salvar()">
    <div class="card">
        <p-table [value]="funcionarios" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Identificação</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Editar</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-funcionario>
                <tr>
                    <td>{{funcionario.funcionarioId}}</td>
                    <td>{{funcionario.nome}}</td>
                    <td>{{funcionario.cpf}}</td>
                    <td>{{funcionario.email}}</td>
                    <td><button pButton type="button" class="p-button-raised p-button-rounded" (click)="editar(funcionario.funcionarioId)"><i class="pi pi-pencil"></i></button></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="flex justify-content-flex-end" style="margin-top: 10px;">
        <button pButton class="button" type="button"(click)="adicionar()"><i class="pi pi-plus" style="font-size: 1rem"></i></button>
    </div>
</form>
<form [formGroup]="formFuncionario">
    <p-dialog [(visible)]="display" [draggable]="false" [style]="{width: '700px', height: '600px'}">
        <ng-template pTemplate="header">
            Funcionário
        </ng-template>
        <div class="grid col-12 padding-bottom">
            <div class="flex col-6 justify-content">
                <label>Nome:
                    <input class="margin-right width-100" type="text" formControlName="nome" />
                </label>
                
            </div>
            <div class="flex col-6 justify-content">
                <label>E-mail:
                    <input class="margin-right width-100" type="email" formControlName="email" />
                </label>
               
            </div>
        </div>

        <div class="grid col-12 padding-bottom">
            <div class="flex col-6 justify-content">
                <label>CPF:
                    <input class="margin-right width-100" type="text" formControlName="cpf" />
                </label>
                
            </div>
            <div class="flex col-6 justify-content">
                <label>Telefone:
                    <input class="margin-right width-100" required placeholder="(99) 99999-9999"
                    pattern="((\(?\d{2}\)?)?(\s?\d{4,5}-\d{4}))" type="text" formControlName="telefone" />
                </label>
               
            </div>
        </div>

        <div class="grid col-12 padding-bottom">
            <div class="flex col-6 justify-content" style="margin-left: -29px; margin-right: 29px;">
                <label>Data de admissão:
                    <input class="margin-right width-100" type="date" formControlName="dataAdmissao" style="width: 162%;" />
                </label>
                
            </div>
            <div class="col-6 justify-content">
                <label style="margin-left: 60px;" for="departamento">Departamento:</label>
                <p-dropdown id="departamento" class="margin-right departamento" [options]="departamento" formControlName="departamento"
                optionLabel="nome" optionValue="codigo" placeholder="Selecione" [style]="{width: '225px'}"></p-dropdown>     
            </div>
        </div>

        <div class="grid col-12 padding-bottom">
            <div class="flex col-6 justify-content">
                <label>Salário:
                    <input class="margin-right width-100" type="number" formControlName="salario" />
                </label>
                
            </div>
            <div class="col-6 justify-content">
                <label style="margin-left: 60px;" for="status">Status:</label>
                <p-dropdown id="status" class="margin-right departamento" [options]="status" formControlName="status"
                optionLabel="nome" optionValue="codigo" placeholder="Selecione" [style]="{width: '225px'}"></p-dropdown>     
            </div>
        </div>
        <ng-template pTemplate="footer">
            <div class="flex justify-content-flex-end">
                <div>
                    <button pButton type="reset" label="Excluir" icon="pi pi-trash" (click)="excluir()"></button>
                </div>
                <div>
                    <button pButton type="reset" label="Cancelar" icon="pi pi-times" (click)="cancelar()"></button>
                </div>
                <div>
                    <button pButton type="submit" label="Salvar" icon="pi pi-check" (click)="salvar()"></button>
                </div>
            </div>
        </ng-template>
        </p-dialog>
    
</form>


